* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comment here */

.main_header {
    width: 1440px;
    margin: auto;
    background-color: #2A9D8F;
}

.main_nav {
    display: inline-block;
}

.logo {
    background-color: white;
    padding: 10px 13px 10px 13px;
    border-radius: 50%;
    margin: 48px 370px 48px 130px;
    vertical-align: middle;
}

.header_nav_ul {
    list-style: none;
}

.header_nav_li {
    display: inline-block;
    vertical-align: middle;
}

.middle_li {
    margin-inline: 51px;
}

.logo_a {
    text-decoration: none;
}

.active,
.no_active {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    line-height: 30px;
}

.header_button {
    width: 147px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    color: #2A9D8F;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    margin-left: 357px;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
}

.main_article {
    width: 780px;
    margin: 200px auto;
}

h1 {
    color: #4D4D4D;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 62.40px;
    letter-spacing: 0.24px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 60px;
}

.p1 {
    margin-bottom: 52px;
}

.p1,
.p2 {
    color: #656565;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    text-align: center;
}

.section1 {
    width: 1440px;
    margin: 0 auto;
    padding: 80px 0px 80px 130px;
    background-color: #C2F3EE;
}

.section1_image {
    width: 600px;
    height: 560px;
    display: inline-block;
    margin-right: 123px;
}

.section1_div {
    display: inline-block;
    width: 457px;
    vertical-align: top;
}

h2 {
    color: #272727;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.16px;
    word-wrap: break-word;
    vertical-align: top;
    width: 457px;
    margin-bottom: 27px;
}

.section1_p {
    color: #515151;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.09px;
    word-wrap: break-word;
    width: 457px;
    margin-bottom: 45px;
}

.section1_button {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    width: 113px;
    height: 46px;
    background-color: #2A9D8F;
    cursor: pointer;
}

.section2 {
    width: 1440px;
    margin: 0 auto;
    padding:200px 0 200px 0;
}

.section2_h1 {
    color: #4D4D4D;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 62.40px;
    letter-spacing: 0.24px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 54px;
}

.the_article {
    display: inline-block;
    width: 580px;
}

.the_article2 {
    margin-left:20px;
}

.the_article_image {
    width: 580px;
    height: 278px;
    margin-bottom: 32px;
}

.the_article_h3 {
    color: #535353;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.12px;
    word-wrap: break-word;
}